
/* App design and Component-specifc
  (Non-Layout)
*/

.App {
  background-color: #282c34;
  font-size: 1rem;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
}
.header h1 {
  align-self: center;
}
.header .instructions {
  align-self: flex-start
}

.history {
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 1rem;
}




.byte-window {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  border: solid blue 5px
}
.byte-window-value {
  width: 4rem;
  text-align: center;
}
.byte-window-bitarray {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: solid red 5px
}
.byte-window-byte {
  border-radius: 50%;
  height: 1.6em;
  width: 1.6em;
  text-align: center;
}
.val_0 {
  background-color: lightskyblue;
}
.val_1 {
  background-color: lightcoral;
}

.byte-window-byte > p {
  display: inline;
}
