
.App {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 2vmin);
  color: white;
}

.App-header {
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.byte-window {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  border: solid blue 5px
}
.byte-window-value {
  width: 4rem;
  text-align: center;
}
.byte-window-bitarray {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: solid red 5px
}
.byte-window-byte {
  border-radius: 50%;
  height: 1.6em;
  width: 1.6em;
  text-align: center;
}
.val_0 {
  background-color: lightskyblue;
}
.val_1 {
  background-color: lightcoral;
}

.byte-window-byte > p {
  display: inline;
}