body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  font-family: "Black Ops One";
  font-variant: small-caps; 
  font-weight: lighter;
  letter-spacing: 0.3rem;
}

.game-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
}
